ALFRESCO_USERNAME=your_alfresco_user
ALFRESCO_PASSWORD=your_alfresco_pass
SPIKE_ALERT_WEBHOOK=https://hooks.spike.sh/your-webhook

SALESFORCE_USERNAME=your_sf_username
SALESFORCE_PASSWORD=your_sf_password
SALESFORCE_CLIENT_ID=your_sf_client_id
SALESFORCE_CLIENT_SECRET=your_sf_client_secret

DB_COL06_companyTNTV1=DRIVER={SQL Server};SERVER=companysqlcol06;DATABASE=companyTnTv1;UID=companysqladmin;PWD=changeme;unicode_results=True
DB_COL10_companyTNTV1=DRIVER={SQL Server};SERVER=companysqlcol10;DATABASE=companyTnTv1;UID=companysqladmin;PWD=changeme;unicode_results=True
DB_COL07_UAT_companyTNTV1=DRIVER={SQL Server};SERVER=companysqlcol07-uat;DATABASE=companyTnTv1;UID=companysqladmin;PWD=changeme;unicode_results=True
DB_COL07_companyTNTV1=DRIVER={SQL Server};SERVER=companysqlcol07;DATABASE=companyTnTv1;UID=companysqladmin;PWD=changeme;unicode_results=True
DB_DW_UAT_REPORTING=DRIVER={ODBC Driver 17 for SQL Server};SERVER=UATSQLINSTANCE;DATABASE=Reporting;UID=companysqladmin;PWD=changeme2019;unicode_results=True
DB_DW_REPORTING=DRIVER={ODBC Driver 17 for SQL Server};SERVER=PRODSQLINSTANCE;DATABASE=Reporting;UID=companysqladmin;PWD=changeme2020;unicode_results=True
